<!DOCTYPE html>
<title>Harkkakirja</title>
<h1>Training log</h1>

{% if session.username %}
    <h1>Welcome {{session.username}}</h1>
    <a href="/entry">Add training</a>

    <h1>View your training history:</h1>
    <a href="/trainings">View trainings</a>
{% endif %}

<h2>Newest training entries:</h2>
<ul>
    {% for training in new_trainings_list %}
        <li><a href="/training/{{training.id}}">{{training.topic}} </a>    <a href="/user_info/{{training.user_id}}">{{training.username}} </a> {{training.workout_day.strftime("%Y-%m-%d")}}</li>
    {% endfor %}
</ul>

<h2>Newest users:</h2>
<ul>
    {% for user in users %}
        <li><a href="/user_info/{{user.id}}">{{ user.username }} </a> registered: {{ user.registered3.strftime("%Y-%m-%d %H:%M:%S") }}</li>
    {% endfor %}
</ul>

<h2>Users</h2>
<a href="/view_users">View all users</href> </a>

 <h3>Login status:</h3>
    {% if session.username %}
    <p>You have logged in as {{ session.username }}</p>
    <a href="/logout">Log out</a>
    {% else %}
    <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Login">
    </form>
    <p>
    <a href="/register">Register</a>
    {% endif %}