<!DOCTYPE html>
<title>Main</title>

<h1>Add trainig</h1>
add training to log

<h1>View your training history:</h1>
view your own trainings

<h1>Most popular training logs:</h1>
TODO list of users with links to trainings
search public 3-5 most popular (most followed / viewed users)

<h1>Trending workouts:</h1>
TODO search most viewed workouts (maybe take account also followers)

<h1>Search users:</h1>
TODO form to search users
<form action="/search_users_result" method="POST">
    Search users:
    <input type="text" name="name">
    <br>
    <input type="submit" value="Search">
    </form>
    
